/* src/manager/pages/Login/ManagerLogin.module.css */
.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #FFC3A0, #ffafe0);
  }
  