/* src/manager/pages/Employees/EmployeeList.module.css */


.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    width: 100%; 
  }
  
  .iconWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    margin-right: auto; 
    color: #44ad73cf;
    gap: 20px;
  }
  p{
    color: #23343D;
  }
  .addButton {
    padding: 5px 10px;
    background-color: #2baf66b1;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .addButton:hover {
    background-color: #2baf66;
    transform: translateY(-2px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  .page {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    overflow-y: auto;
    height: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .page::-webkit-scrollbar {
    width: 7px; 
  }
  
  .page::-webkit-scrollbar-track {
    border-radius: 5px;
  }
  
  .page::-webkit-scrollbar-thumb {
    background-color: #2baf6652; 
    border-radius: 4px;
  }
  
  .page::-webkit-scrollbar-thumb:hover {
    background-color: #2baf66b1;
  }
  

  .actionList{
    display: flex;
    align-items: center;
    height: 50px;
}
.actionEdit{
    color: #44ad73cf;
    margin-right: 20px;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
}
.actionEdit:hover{
    transform: scale(1.5) rotate(-30deg);
    color: #44ad73;
}
.actionDelete{
    color: #ff0000;
    cursor: pointer;
    transition: transform 0.4s ease, color 0.2s ease;
}
.actionDelete:hover{
    transform: scale(2.0) rotate(90deg);
    color: #ff3333;
}
.main::-webkit-scrollbar {
    width: 7px; 
  }
  
  .main::-webkit-scrollbar-track {
    border-radius: 5px;
  }
  
  .main::-webkit-scrollbar-thumb {
    background-color: #b1643497; 
    border-radius: 4px;
  }
  
  .main::-webkit-scrollbar-thumb:hover {
    background-color: #b16434;
  }

  .selectPage{
    border-top: 1px solid rgba(218, 218, 218, 0.648);
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px
  }
  .allPage{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-bottom  : 10px;
  }
  .allPage button{
    width: auto;
    padding: 2px 7px;
    background-color: #2baf66ba;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.2s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-width: 40px;
  }
  .allPage button:not(:disabled):hover {
    background-color: #2baf66;
    transform: translateY(-2px);
  }
  .allPage .activePage  {
    color: rgb(255, 119, 0);
  }
  .allPage button:disabled{
    background-color: #2baf663b;
    cursor: not-allowed;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    animation: fadeInUp 0.5s ease;
    overflow-y: auto;
    color: #2E4047;
    table-layout: fixed;
  }
  th{
    text-align: start;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
    color: #2E4047;
  }
  tr {
    border-bottom: 1px solid rgba(218, 218, 218, 0.648);
    color: #5d5d5e;
    transition: all 0.3s ease-out;
    cursor: pointer;
  
  }
  td{
    padding-left: 10px;
    padding-right: 10px;
  }
  tr:hover{
    background-color: #f7f7f7;  
    color: #3d3d3d;
  }
  tr:hover {
  }
  
  .tableContainer::-webkit-scrollbar {
    width: 7px; 
  }
  
  .tableContainer::-webkit-scrollbar-track {
    border-radius: 5px;
  }
  
  .tableContainer::-webkit-scrollbar-thumb {
    background-color: #78787897; 
    border-radius: 4px;
  }
  
  .tableContainer::-webkit-scrollbar-thumb:hover {
    background-color: #787878; 
  }
  .tableContainer {
    overflow-y: auto;
  }
  
  thead {
    position: sticky;
    background-color: #fbfbfb; /* Optional: set a background color for the header */
    z-index: 1;
    top: 0;
    margin-top: 5px;
    height: 50px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  }
  .tableContainer {
    max-height: 100%; /* Adjust the height as needed */
    overflow-y: auto;
  }
  .searchField{
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }
  .searchInput{
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #2baf66;
    transition: all 0.2s ease;
  }

  .historyContainer {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: end;

  }
  
  .historyItem {
    background-color: #44ad73;
    color: white;
    padding: 6px 10px;
    border-radius: 8px;
    margin-bottom: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: slideIn 0.3s ease-out;
    position: relative;
    overflow: hidden;
    width: fit-content;
  }
  .historyItemError {
    background-color: #fd6b6bd5;
    color: white;
    padding: 6px 10px;
    border-radius: 8px;
    margin-bottom: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: slideIn 0.3s ease-out;
    position: relative;
    overflow: hidden;
    width: fit-content;
  }
  .progressBar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.7);
    animation: progressFadeOut 5s linear forwards;
  }
  
  @keyframes progressFadeOut {
    from {
      width: 100%;
    }
    to {
      width: 0%;
    }
  }
  
  
  @keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .completed {

    text-transform: capitalize;
    background-color: #d1fae5;
    /* bg-green-100 */
    color: #065f46;
    /* text-green-900 */
    border-left: 4px solid #10b981;
    /* border-l-4 border-green-500 */
    padding: 0.1rem;
    /* p-2 */
    border-radius: 0.2rem;
    /* rounded-lg */
    display: flex;
    /* flex */
    align-items: center;
    /* items-center */
    justify-content: center;
    /* justify-between */
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    /* transition duration-300 ease-in-out */
    margin-right: 1.5rem;
  }
  
  .completed:hover {
    background-color: #a7f3d0;
    /* hover:bg-green-200 */
    transform: scale(1.05);
    /* hover:scale-105 */
    cursor: pointer;
  }
  
  .confirmed {
    justify-content: center;
    /* justify-between */
    text-transform: capitalize;
    background-color: #bfdbfe;
    /* bg-blue-100 */
    color: #1e40af;
    /* text-blue-900 */
    border-left: 4px solid #3b82f6;
    /* border-l-4 border-blue-500 */
    padding: 0.2rem;
    /* p-2 */
    border-radius: 0.2rem;
    /* rounded-lg */
    display: flex;
    /* flex */
    align-items: center;
    /* items-center */
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    /* smooth hover */
    margin-right: 1.5rem;
  }
  
  .confirmed:hover {
    background-color: #93c5fd;
    /* hover:bg-blue-200 */
    transform: scale(1.05);
    /* hover:scale-105 */
    cursor: pointer;
  }
  
  .pending {
    justify-content: center;
    /* justify-between */
    text-transform: capitalize;
    background-color: #fef9c3;
    /* bg-yellow-100 */
    color: #854d0e;
    /* text-yellow-900 */
    border-left: 4px solid #f59e0b;
    /* border-l-4 border-yellow-500 */
    padding: 0.2rem;
    /* p-2 */
    border-radius: 0.2rem;
    /* rounded-lg */
    display: flex;
    /* flex */
    align-items: center;
    /* items-center */
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    /* smooth hover */
    margin-right: 1.5rem;
  }
  
  .pending:hover {
    background-color: #fde68a;
    /* hover:bg-yellow-200 */
    transform: scale(1.05);
    /* hover:scale-105 */
    cursor: pointer;
  }
  
  .cancelled {
    justify-content: center;
    /* justify-between */
    text-transform: capitalize;
    background-color: #fee2e2;
    /* bg-red-100 */
    color: #991b1b;
    /* text-red-900 */
    border-left: 4px solid #ef4444;
    /* border-l-4 border-red-500 */
    padding: 0.2rem;
    /* p-2 */
    border-radius: 0.2rem;
    /* rounded-lg */
    display: flex;
    /* flex */
    align-items: center;
    /* items-center */
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    /* smooth hover */
    margin-right: 1.5rem;
  }
  
  .cancelled:hover {
    background-color: #fecaca;
    /* hover:bg-red-200 */
    transform: scale(1.05);
    /* hover:scale-105 */
    cursor: pointer;
  }