/* src/manager/pages/Accounts/AccountList.module.css */


.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.searchInput {
  flex: 1;
  margin-left: 20px;
  margin-bottom: auto;
  justify-self: center;
  align-self: center;
  float: inline-end;
}

.error {
  color: red;
  margin-bottom: 15px;
}


/* src/manager/pages/Employees/EmployeeList.module.css */

.page {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  overflow-y: auto;
  height: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; 
  width: 100%;    
}

.divider {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
  
  label {
    font-size: large;
    font-weight: bold;
    color: #23343D;
  }
}

.iconWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  margin-right: auto; 
  color: #44ad73cf;
  gap: 20px;
}

p {
  color: #23343D;
}

.branchSelect {
  margin-top: 10px;
  font-size: large;
  font-weight: bold;
  width: fit-content;
}

.addButton {
  margin-left: 0; 
  padding: 10px;
  background-color: #2baf66b1;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.addButton:hover {
  background-color: #2baf66;
  transform: translateY(-2px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.viewButton {
  padding: 5px;
  background-color: #2baf66b1;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.viewButton:hover {
  background-color: #2baf66;
  transform: translateY(-2px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.switchWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2baf66;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2baf66;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.sliderRound {
  border-radius: 24px;
}

.sliderRound:before {
  border-radius: 50%;
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 8vw;
  width: 100vw;
  height: 100vh;
}