/* src/manager/pages/Dashboard/Dashboard.module.css */
.dashboardContainer {
    display: flex;
  }
  
  .mainContent {
    margin-left: 0; /* Width của Sidebar */
    width: calc(100% - 250px);
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .contentArea {
    padding: 20px;
    flex: 1;
    background-color: #ecf0f1;
    overflow-y: auto;
  }
  
  .page {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    overflow-y: auto;
    height: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    width: 100%;    
  }