/* src/manager/components/Header/Header.module.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
  }
  
  .header h1 {
    margin: 0;
    font-size: 1.5rem;
  }
  .logo{
    width: 200px;
  }