.sidebar {
  max-width: 200px;
  padding: 20px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-bottom: 20px;
}

.logo img {
  width: 120px;
}
.menu{
  width: 150px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}
.navLink{
  display: flex;
  align-items: center;
  min-height: 40px;
  padding-left: 15px;
  border-radius: 5px;
  font-weight: 500;
  color: #4b4950;
  font-size: 1em;
  transition: all 0.2s ease;
  overflow: hidden;
  white-space: nowrap;
}
.linkText{
  overflow: hidden;
  margin-left: 10px;
}
.nav:hover .navLink:not(:hover) {
  transform: scale(0.9);
}
.navLink:hover{
  background: linear-gradient(135deg, #ffc743, #e2eaf600);
  cursor: pointer;
  transform: scale(1.1);
  color: rgba(255, 17, 0, 0.626);
}
.active{
  background: linear-gradient(135deg, #ffb65e83, #e2eaf600);
  color: rgba(255, 17, 0, 0.734);
}
.navLink:hover.active{
  background: linear-gradient(135deg, #ffb75ebb, #fff5d300);
  cursor: pointer;
  transform: scale(1.1);
  color: rgba(255, 17, 0, 0.914);
}
.menu::-webkit-scrollbar {
  width: 3px; 
}

.menu::-webkit-scrollbar-track {
  border-radius: 5px;
}

.menu::-webkit-scrollbar-thumb {
  background-color: #b1643497; 
  border-radius: 4px;
}

.menu::-webkit-scrollbar-thumb:hover {
  background-color: #b16434;
}