@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.background {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #FFC3A0, #ffafe0);
  width: 100vw;
  height: 100vh;
}