
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}
.table th {
  background-color: #f2f2f2;
}
.actionList {
  display: flex;
  align-items: center;
  height: 50px;
}
.actionEdit {
  color: #44ad73cf;
  margin-right: 20px;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}
.actionEdit:hover {
  transform: scale(1.5) rotate(-30deg);
  color: #44ad73;
}
.actionDelete {
  color: #ff0000;
  cursor: pointer;
  transition: transform 0.4s ease, color 0.2s ease;
}
.actionDelete:hover {
  transform: scale(2.0) rotate(90deg);
  color: #ff3333;
}
.completed {
  text-transform: capitalize;
  background-color: #d1fae5;
  /* bg-green-100 */
  color: #065f46;
  /* text-green-900 */
  border-left: 4px solid #10b981;
  /* border-l-4 border-green-500 */
  padding: 0.5rem;
  /* p-2 */
  border-radius: 0.5rem;
  /* rounded-lg */
  display: flex;
  /* flex */
  align-items: center;
  /* items-center */
  justify-content: center;
  /* justify-between */
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  /* transition duration-300 ease-in-out */
}
.completed:hover {
  background-color: #a7f3d0;
  /* hover:bg-green-200 */
  transform: scale(1.05);
  /* hover:scale-105 */
  cursor: pointer;
}
.confirmed {
  justify-content: center;
  /* justify-between */
  text-transform: capitalize;
  background-color: #bfdbfe;
  /* bg-blue-100 */
  color: #1e40af;
  /* text-blue-900 */
  border-left: 4px solid #3b82f6;
  /* border-l-4 border-blue-500 */
  padding: 0.5rem;
  /* p-2 */
  border-radius: 0.5rem;
  /* rounded-lg */
  display: flex;
  /* flex */
  align-items: center;
  /* items-center */
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  /* smooth hover */
}
.confirmed:hover {
  background-color: #93c5fd;
  /* hover:bg-blue-200 */
  transform: scale(1.05);
  /* hover:scale-105 */
  cursor: pointer;
}
.pending {
  justify-content: center;
  /* justify-between */
  text-transform: capitalize;
  background-color: #fef9c3;
  /* bg-yellow-100 */
  color: #854d0e;
  /* text-yellow-900 */
  border-left: 4px solid #f59e0b;
  /* border-l-4 border-yellow-500 */
  padding: 0.5rem;
  /* p-2 */
  border-radius: 0.5rem;
  /* rounded-lg */
  display: flex;
  /* flex */
  align-items: center;
  /* items-center */
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  /* smooth hover */
}
.pending:hover {
  background-color: #fde68a;
  /* hover:bg-yellow-200 */
  transform: scale(1.05);
  /* hover:scale-105 */
  cursor: pointer;
}
.cancelled {
  justify-content: center;
  /* justify-between */
  text-transform: capitalize;
  background-color: #fee2e2;
  /* bg-red-100 */
  color: #991b1b;
  /* text-red-900 */
  border-left: 4px solid #ef4444;
  /* border-l-4 border-red-500 */
  padding: 0.5rem;
  /* p-2 */
  border-radius: 0.5rem;
  /* rounded-lg */
  display: flex;
  /* flex */
  align-items: center;
  /* items-center */
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  /* smooth hover */
}
.cancelled:hover {
  background-color: #fecaca;
  /* hover:bg-red-200 */
  transform: scale(1.05);
  /* hover:scale-105 */
  cursor: pointer;
}