/* src/manager/components/forms/AccountForm.module.css */
.accountForm {
    display: flex;
    flex-direction: column;
  }
  
  .accountForm .button {
    align-self: flex-end;
  }
  
  .label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  