.form{
    display: flex;
    flex-direction: column;
}
.submitButton{
    background-color: #2baf6689;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}


.submitButton:hover {
    background-color: #45a049;
}

.submitButton:active {
    transform: scale(0.98);
}
.label {
    margin-bottom: 5px;
    font-weight: bold;
  }